doctype html
html
    head
        title #{name}
    body
        a(href = url,target = "_blank") 
            h1 #{name}
        img(src = picture, alt = "Test", width = "300", height = "auto")

        h2 Internship Companies

        a(href = url1,target = "_blank") 
            li #{Companies1}

      
        
